* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Francois One', sans-serif;
}
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.to-do-wrapper {
  width: 40%;
  min-width: 350px;
  min-height: 400px;
  height: 70vh;
  background-color: #119da4;
  border-radius: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px 20px;
  margin: 20px;
}
.to-do-item {
  background-color: #0a1826;
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  margin-top: 5px;
}
.to-do-text {
  color: white;
  font-size: 15px;
  flex: 1 0 70%;
  text-align: left;
  overflow: hidden;
  margin-left: 20px;
}
.to-do-checkbox {
  -webkit-appearance: none;
  background-color: white;
  padding: 5px;
  border-radius: 1px;
  border-radius: 50%;
  outline: none;
}
.to-do-checkbox:hover {
  cursor: pointer;
}
.to-do-checkbox:checked {
  background-color: rgb(16, 212, 59);
}
.to-do-checkbox:checked ~ .to-do-text {
  text-decoration: line-through;
}
.to-do-remove {
  background-color: #0a1826;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}
.to-do-remove:hover {
  transform: scale(1.05);
}
.to-do-remove:active {
  transform: scale(0.95);
}
.app-title {
  color: white;
  font-weight: 500;
  font-size: 30px;
}
.to-do-input {
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  outline: transparent;
  margin: 5px 0;
}
.to-do-submit {
  font-size: 30px;
  font-weight: bold;
  color: white;
  position: relative;
  border: none;
  border-radius: 50%;
  width: 25px;
  background-color: #119da4;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}
.to-do-submit:hover {
  transform: scale(1.05);
}
.to-do-submit:active {
  transform: scale(0.95);
}
.to-do-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
    list-style: none;
}